apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: demo
spec:
  type: ClusterIP
  selector:
    app: orders-api
  ports:
    - name: http
      port: 80
      targetPort: 8080
